#  .dockerignore needs to live in root of build context (src/server or src/client)
#  It specifies which files Docker should exclude from the built image 
#  Details:  https://docs.docker.com/engine/reference/builder/#dockerignore-file

#  */temp* 	    Exclude files and directories whose names start with temp in any 
#               immediate subdirectory of the root. For example, the plain 
#               file /somedir/temporary.txt is excluded, as is the directory /somedir/temp. 

#  */*/temp* 	Exclude files and directories starting with temp from any subdirectory 
#               that is two levels below the root. For example, /somedir/subdir/temporary.txt is excluded.

#  temp? 	    Exclude files and directories in the root directory whose names are a one-character extension 
#               of temp. For example, /tempa and /tempb are excluded.

secrets.py
secrets.pyX
secrets/*