Flask==3.0.1
sqlalchemy==1.4.15 
psycopg2-binary==2.9.1
openpyxl
requests
pytest
flask-jwt-extended==4.6.0
alembic
flask-cors
dropbox
jellyfish
networkx
Jinja2>=3.1.2
itsdangerous>=2.1.2
simple-salesforce
werkzeug==3.0.3
structlog
pyjwt
cryptography
grpcio
google-api-python-client
avro