temp/
/src.tar.gz
db_data/
/local_files/
node_modules
.vscode/
*.pyc
__pycache__
.cache/
venv
/dist/
src/server/pipeline/__pycache__
src/server/api/__pycache__
/src/client/.idea
/.idea
start_env.sh

/src/server/venv/