body {
	margin: 0;
}

/* Header */
#root .MuiTypography-h6 {
	position: relative;
	top: 2px;
	left: 14px;
	padding-left: 32px;
	font-family: 'Noway Round Regular', sans-serif;
	font-size: 22px;
	color: #fff;
	letter-spacing: initial;
}
#root header.MuiAppBar-colorPrimary {
	background-color: #00AFDA;
}
#root header.MuiAppBar-colorPrimary .MuiButton-root {
	font-family: 'Noway Round Regular', sans-serif;
	color: #fff;
	font-weight: 700;
}
#root header.MuiAppBar-colorPrimary .MuiButton-root:not(:last-child) {
	margin-right: 10px;
}
#root .MuiTypography-h6::before {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	display: block;
	width: 25px;
	height: 38px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#root > header {
	margin-bottom: 30px;
}

/* Search bar */
#root > .MuiContainer-root .MuiPaper-root:first-child {
	display: flex !important;
	margin: 12px 10px 12px 36px !important;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	box-shadow: none;
}

/* Grid system */
#root > .MuiContainer-root > .MuiPaper-root:last-child {
	position: relative;
	display: grid;
	grid-template-columns: 300px auto;
	grid-column-gap: 25px;
	grid-row-gap: 0px;
	background-color: initial;
	box-shadow: none;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child {
	position: sticky;
	top: 74px;
	margin-top: 55px;
	grid-area: 1 / 1 / 1 / 1;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:nth-child(2) {
	grid-area: 1 / 2 / 2 / 3;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:nth-child(3) {
	grid-area: 2 / 2 / 3 / 3;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:nth-child(4) {
	grid-area: 3 / 2 / 4 / 3;
}

/* Contact info */
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child h4 {
	display: none;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root {
	position: relative;
	padding-top: 37px !important;
	background-color: #fff;
}
#root > .contactInfo > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root::before {
	content: '';
	position: absolute;
	top: -58px;
	left: 50%;
	display: block;
	width: 90px;
	height: 90px;
	background-color: #fff;
	background-image: url('../images/profile-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-radius: 50%;
	overflow: hidden;
	transform: translate(-50%, 0);
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root div {
	display: block !important;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root div p:first-child {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 700;
	line-height: 1em;
	text-align: center;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root div p {
	font-size: 12px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root div p span:first-of-type {
	display: none;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root div p:nth-child(2) {
	position: relative;
	padding-left: 18px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root div p:nth-child(2)::before {
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	display: block;
	width: 15px;
	height: 15px;
	background-image: url('../images/icon-phone.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root div p:nth-child(3) {
	position: relative;
	margin-top: 5px;
	padding-left: 20px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root div p:nth-child(3)::before {
	content: '';
	position: absolute;
	top: -1px;
	left: -3px;
	display: block;
	width: 20px;
	height: 20px;
	background-image: url('../images/icon-email.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root > p {
	font-size: 12px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root > p span:first-of-type {
	display: none;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root > p {
	position: relative;
	margin-top: 5px;
	padding-left: 18px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child .MuiPaper-root > p::before {
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	display: block;
	width: 14px;
	height: 14px;
	background-image: url('../images/icon-home.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* Tables */
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child),
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root {
	margin-top: 0 !important;
	margin-bottom: 40px;
	padding: 0;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:nth-child(2) {
	margin-top: 55px !important;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) h4,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root h4 {
	position: relative;
	margin: 15px 20px;
	padding-left: 20px;
	font-size: 16px;
	text-align: left;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) h4::before,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root h4::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:nth-child(2) h4 {
	padding-left: 15px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:nth-child(2) h4::before {
	top: -1px;
	left: -8px;
	background-image: url('../images/icon-dollar.svg');
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:nth-child(3) h4 {
	padding-left: 18px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:nth-child(3) h4::before {
	top: -2px;
	left: -8px;
	width: 22px;
	height: 22px;
	background-image: url('../images/icon-adoption.svg');
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root:first-child h4 {
	padding-left: 23px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root:first-child h4::before {
	top: 0px;
	left: -6px;
	width: 22px;
	height: 22px;
	background-image: url('../images/icon-activity.svg');
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root:nth-child(2) h4 {
	padding-left: 23px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root:nth-child(2) h4::before {
	top: -7px;
	left: -10px;
	width: 30px;
	height: 30px;
	background-image: url('../images/icon-history.svg');
}


#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div {
	border: none;
	border-radius: 0;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div .MuiTableCell-root,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div .MuiTableCell-root {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div thead,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div thead {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div th,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div th {
	background-color: initial;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div th,
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div td,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div th,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div td {
	padding: 12px 10px 12px 20px;
	text-align: left;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div th:last-child,
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div td:last-child,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div th:last-child,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div td:last-child {
	padding-right: 20px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div tr:last-child .MuiTableCell-root,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div tr:last-child .MuiTableCell-root {
	border-bottom: none;
}
.WithStyles\(ForwardRef\(TableRow\)\)-root-17:nth-of-type(even) {
	background-color: initial;
}