header.header {
	margin-bottom: 30px;
	background-color: #00AFDA !important;
}

h6.header_logo {
	position: relative;
	top: 2px;
	left: 14px;
	padding-left: 32px;
	font-family: 'Noway Round Regular', sans-serif;
	font-size: 22px;
	color: #fff;
	letter-spacing: initial;
}
h6.header_logo::before {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	display: block;
	width: 25px;
	height: 38px;
	background-image: url('../../assets/header-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

a.header_link {
	margin-right: 10px;
	font-family: 'Noway Round Regular', sans-serif;
	color: #fff;
	font-weight: 700;
}