<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>PAWS Uploader</title>
        <script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script src="/static/js/FileUploader.js"></script>
    </head>
    <body>
        <h1>Welcome to the PAWS data uploader</h1>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.impulsecreative.com%2Fhs-fs%2Fhubfs%2FCat%2520typing.gif%3Fwidth%3D513%26name%3DCat%2520typing.gif&f=1&nofb=1">
        <form method="post" action="/" enctype="multipart/form-data">
            <input id="file-select" type="file" name="file">
            <input id="upload" type="submit" name="upload-btn" value="Upload" disabled>
        </form>
        {% with errors = get_flashed_messages() %}
            {% if errors %}
                <ul>
                    {% for error in errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>