/* Grid system */
.main {
	position: relative;
	display: grid;
	grid-template-columns: 300px auto;
	grid-column-gap: 25px;
	grid-row-gap: 0px;
	background-color: initial;
	box-shadow: none;
}
.back_button{
	position: relative;
	display: grid;
	margin-left: 60px !important;
	margin-right: 60px !important;
	margin-top: 10px !important;
	max-width: 175px;
	max-height: 36.5px;
}