/* Grid system */
#root > .MuiContainer-root > .MuiPaper-root:last-child {
	position: relative;
	display: grid;
	grid-template-columns: 300px auto;
	grid-column-gap: 25px;
	grid-row-gap: 0px;
	background-color: initial;
	box-shadow: none;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:first-child {
	position: sticky;
	top: 74px;
	margin-top: 55px;
	grid-area: 1 / 1 / 1 / 1;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:nth-child(2) {
	grid-area: 1 / 2 / 2 / 3;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:nth-child(3) {
	grid-area: 2 / 2 / 3 / 3;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > div:nth-child(4) {
	grid-area: 3 / 2 / 4 / 3;
}

/* Tables */
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child),
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root {
	margin-top: 0 !important;
	margin-bottom: 40px;
	padding: 0;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:nth-child(2) {
	margin-top: 55px !important;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) h4,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root h4 {
	position: relative;
	margin: 15px 20px;
	padding-left: 20px;
	font-size: 16px;
	text-align: left;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) h4::before,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root h4::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* Reset styles for tables */
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div {
	border: none;
	border-radius: 0;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div .MuiTableCell-root,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div .MuiTableCell-root {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div thead,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div thead {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div th,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div th {
	background-color: initial;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div th,
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div td,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div th,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div td {
	padding: 12px 10px 12px 20px;
	text-align: left;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div th:last-child,
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div td:last-child,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div th:last-child,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div td:last-child {
	padding-right: 20px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:not(:first-child) > div tr:last-child .MuiTableCell-root,
#root > .MuiContainer-root > .MuiPaper-root:last-child > div > .MuiContainer-root > div tr:last-child .MuiTableCell-root {
	border-bottom: none;
}
.WithStyles\(ForwardRef\(TableRow\)\)-root-17:nth-of-type(even) {
	background-color: initial;
}