div.adoptions {
	grid-area: 2 / 2 / 3 / 3;
	margin-bottom: 40px;
	padding: 0;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	overflow: hidden;
}

h4.adoptions_title {
	position: relative;
	margin: 15px 20px;
	padding-left: 18px;
	font-size: 16px;
	text-align: left;
}
h4.adoptions_title::before {
	content: '';
	position: absolute;
	top: -3px;
	left: -8px;
	width: 22px;
	height: 22px;
	background-image: url('../assets/icon-adoption.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}