#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:nth-child(2) h4 {
	padding-left: 15px;
}
#root > .MuiContainer-root > .MuiPaper-root:last-child > .MuiContainer-root:nth-child(2) h4::before {
	top: -1px;
	left: -8px;
	background-image: url('../assets/icon-dollar.svg');
}