div.volonteer_activity {
	grid-area: 3 / 2 / 4 / 3;
	margin-bottom: 40px;
	padding: 0;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	overflow: hidden;
}

div.volonteer_history {
	grid-area: 4 / 2 / 5 / 3;
	margin-bottom: 40px;
	padding: 0;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	overflow: hidden;
}

h4.volonteer_activity_title {
	position: relative;
	margin: 15px 20px;
	padding-left: 23px;
	font-size: 16px;
	text-align: left;
}
h4.volonteer_activity_title::before {
	content: '';
	position: absolute;
	top: -3px;
	left: -6px;
	width: 22px;
	height: 22px;
	background-image: url('../assets/icon-activity.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

h4.volonteer_history_title {
	position: relative;
	margin: 15px 20px;
	padding-left: 23px;
	font-size: 16px;
	text-align: left;
}
h4.volonteer_history_title::before {
	content: '';
	position: absolute;
	top: -9px;
	left: -10px;
	width: 30px;
	height: 30px;
	background-image: url('../assets/icon-history.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}